body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

h1 {
    text-align: center;
}

button {
    display: inline-block;
    margin: 20px 5px 10px 5px;  /* Adjust the top margin to 20px */
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

#submit-quiz {
    background-color: #007BFF;
    color: white;
}

#submit-quiz:hover {
    background-color: #0056b3;
}

#reset-quiz {
    background-color: #6c757d;
    color: white;
}

#reset-quiz:hover {
    background-color: #5a6268;
}

.correct {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 5px;
    border-radius: 5px;
}

.incorrect {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
}

.answer {
    padding: 5px;
    display: block;
}

